.App {
  text-align: center;
}

.blue-space {
  background-color: #007bff;
  padding: 10px;
}

.icons {
  display: flex;
  justify-content: flex-end;
}

.icon {
  background-color: #ffffff;
  padding: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.icon:hover {
  background-color: #0056b3;
}
.info-section {
  padding: 20px 0;
}

.info-text {
  padding: 20px;
}

.info-text h3 {
  font-size: 24px;
}

.info-text p {
  font-size: 16px;
}

/* Custom styles to make the height more than 200px */
.info-section {
  min-height: 300px;
}


