body {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  height: 100vh;
}

.navbar {
  background-color: #333;
  display: flex;
  flex-direction: column; /* Adjust flex direction to column for larger screens */
  justify-content: center; /* Center icons vertically on larger screens */
  align-items: center; /* Center icons horizontally on larger screens */
  padding: 10px;
  flex-shrink: 0;
}

.navbar svg {
  font-size: 24px;
  color: white;
  margin-bottom: 10px; /* Add margin between icons */
}

.content {
  flex: 1;
  background-color: #f2f2f2;
  padding: 20px;
}

@media (max-width: 768px) {
  .app {
    flex-direction: column-reverse; /* Reverse flex direction for mobile */
  }

  .navbar {
    flex-direction: row; /* Adjust flex direction for mobile */
    width: 100%;
    justify-content: center; /* Center icons horizontally on mobile */
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #333;
    padding: 10px 0;
  }

  .navbar svg {
    margin-bottom: 0; /* Remove margin between icons on mobile */
    margin-right: 20px; /* Add margin between icons for better spacing on mobile */
  }

  .content {
    flex-basis: 100%;
  }
}
